docs/blueprints/Scheduler.blueprint.json
{
    "name": "Scheduler",
    "flow": [
        {
            "id": 2,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 8833273
            },
            "mapper": {
                "base": "appr8MnuDG2NjwMQf",
                "table": "tbl8MQn9WDZqUWlHc",
                "formula": "AND(\n   {Enabled}, \n   OR(\n      {Cadence} = \"4-Hourly\", \n      AND(\n         \"{{formatDate(now; \"HH\")}}\" = \"08\",\n         {Cadence} = \"{{if(formatDate(now; \"dddd\") = \"Sunday\"; if(parseNumber(formatDate(now; \"D\")) <= 7; \"Monthly\"; \"Weekly\"); \"Daily\")}}\"\n      )\n   )\n)",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150,
                    "name": "Get Schedules"
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "Mada Index"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Sync Settings"
                        },
                        "fields": {
                            "mode": "chose"
                        },
                        "maxRecords": {
                            "empty": true
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "Mada Airtable connection (User ID: usrFpaeOnieLzG9yP)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "Platform",
                        "type": "text",
                        "label": "Platform"
                    },
                    {
                        "name": "Cadence",
                        "type": "text",
                        "label": "Cadence"
                    },
                    {
                        "name": "Max Items",
                        "type": "number",
                        "label": "Max Items"
                    },
                    {
                        "name": "Run Scenario",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Run Scenario"
                    },
                    {
                        "name": "Webhook URL",
                        "type": "text",
                        "label": "Webhook URL"
                    },
                    {
                        "name": "Enabled",
                        "type": "boolean",
                        "label": "Enabled"
                    },
                    {
                        "name": "Last Run Started",
                        "time": true,
                        "type": "date",
                        "label": "Last Run Started"
                    },
                    {
                        "name": "Last Run Ended",
                        "time": true,
                        "type": "date",
                        "label": "Last Run Ended"
                    },
                    {
                        "name": "Duration",
                        "type": "text",
                        "label": "Duration"
                    },
                    {
                        "name": "Last Credits",
                        "type": "number",
                        "label": "Last Credits"
                    },
                    {
                        "name": "Estimated Monthly",
                        "type": "text",
                        "label": "Estimated Monthly"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 5,
                    "module": "airtable:ActionCreateRecord",
                    "version": 3,
                    "parameters": {
                        "__IMTCONN__": 8833273
                    },
                    "mapper": {
                        "base": "appr8MnuDG2NjwMQf",
                        "table": "tblM62NW7VKjzaMlA",
                        "record": {
                            "fld3LSpNtuP64A9Uc": "{{2.error.detail}}",
                            "fld5Yla69XWso4SCO": "{{2.error.message}}",
                            "fldO1Tv6rFnMB3QsR": "Airtable - Get Schedules",
                            "fldS9LQwxJYkJZXfx": "{{var.scenario.executionUrl}}",
                            "fldgB78a0WrkXbWpP": "{{var.scenario.name}}",
                            "fldmtTfcw0RbZTsja": "{{2.error.type}}"
                        },
                        "typecast": false,
                        "useColumnId": false
                    },
                    "metadata": {
                        "designer": {
                            "x": 178,
                            "y": 404,
                            "name": "Create Error"
                        },
                        "restore": {
                            "expect": {
                                "base": {
                                    "label": "Mada Index"
                                },
                                "table": {
                                    "label": "Errors",
                                    "nested": [
                                        {
                                            "name": "record",
                                            "spec": [
                                                {
                                                    "mode": "edit",
                                                    "name": "fld1JqRebvgnXJL5D",
                                                    "type": "select",
                                                    "label": "Channel",
                                                    "dynamic": true,
                                                    "options": [
                                                        {
                                                            "label": "Facebook",
                                                            "value": "Facebook"
                                                        },
                                                        {
                                                            "label": "Instagram",
                                                            "value": "Instagram"
                                                        },
                                                        {
                                                            "label": "LinkedIn",
                                                            "value": "LinkedIn"
                                                        },
                                                        {
                                                            "label": "X",
                                                            "value": "X"
                                                        }
                                                    ],
                                                    "validate": false
                                                },
                                                {
                                                    "name": "fldmtTfcw0RbZTsja",
                                                    "type": "text",
                                                    "label": "Type"
                                                },
                                                {
                                                    "name": "fld5Yla69XWso4SCO",
                                                    "type": "text",
                                                    "label": "Message"
                                                },
                                                {
                                                    "name": "fld3LSpNtuP64A9Uc",
                                                    "type": "text",
                                                    "label": "Detail",
                                                    "multiline": true
                                                },
                                                {
                                                    "name": "fldgB78a0WrkXbWpP",
                                                    "type": "text",
                                                    "label": "Scenario"
                                                },
                                                {
                                                    "name": "fldO1Tv6rFnMB3QsR",
                                                    "type": "text",
                                                    "label": "Module"
                                                },
                                                {
                                                    "name": "fldS9LQwxJYkJZXfx",
                                                    "type": "text",
                                                    "label": "Execution"
                                                },
                                                {
                                                    "name": "fldGsZ6ZISLfu6dXa",
                                                    "type": "boolean",
                                                    "label": "Solved"
                                                },
                                                {
                                                    "name": "flda6zjHkcx9g7sdG",
                                                    "spec": {
                                                        "label": "Record ID"
                                                    },
                                                    "type": "array",
                                                    "label": "Facebook Post"
                                                },
                                                {
                                                    "name": "fld4RpTrussaxExSA",
                                                    "spec": {
                                                        "label": "Record ID"
                                                    },
                                                    "type": "array",
                                                    "label": "Instagram Post"
                                                },
                                                {
                                                    "name": "fldAUagZg6mqldGTD",
                                                    "spec": {
                                                        "label": "Record ID"
                                                    },
                                                    "type": "array",
                                                    "label": "Instagram Story"
                                                },
                                                {
                                                    "name": "fldERTHE5DNTYNONM",
                                                    "spec": {
                                                        "label": "Record ID"
                                                    },
                                                    "type": "array",
                                                    "label": "LinkedIn Post"
                                                },
                                                {
                                                    "name": "fldWyeleX8a7a0uO1",
                                                    "spec": {
                                                        "label": "Record ID"
                                                    },
                                                    "type": "array",
                                                    "label": "X Post"
                                                },
                                                {
                                                    "name": "fldaI9y05mGK6wMX4",
                                                    "spec": {
                                                        "label": "Record ID"
                                                    },
                                                    "type": "array",
                                                    "label": "YouTube Video"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Record"
                                        }
                                    ]
                                },
                                "record": {
                                    "nested": {
                                        "fld1JqRebvgnXJL5D": {
                                            "mode": "edit"
                                        },
                                        "fld4RpTrussaxExSA": {
                                            "mode": "chose"
                                        },
                                        "fldAUagZg6mqldGTD": {
                                            "mode": "chose"
                                        },
                                        "fldERTHE5DNTYNONM": {
                                            "mode": "chose"
                                        },
                                        "fldGsZ6ZISLfu6dXa": {
                                            "mode": "chose"
                                        },
                                        "fldWyeleX8a7a0uO1": {
                                            "mode": "chose"
                                        },
                                        "flda6zjHkcx9g7sdG": {
                                            "mode": "chose"
                                        },
                                        "fldaI9y05mGK6wMX4": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "typecast": {
                                    "mode": "chose"
                                },
                                "useColumnId": {
                                    "mode": "chose"
                                }
                            },
                            "parameters": {
                                "__IMTCONN__": {
                                    "data": {
                                        "scoped": "true",
                                        "connection": "airtable3"
                                    },
                                    "label": "Mada Airtable connection (User ID: usrFpaeOnieLzG9yP)"
                                }
                            }
                        },
                        "parameters": [
                            {
                                "name": "__IMTCONN__",
                                "type": "account:airtable3,airtable2",
                                "label": "Connection",
                                "required": true
                            }
                        ],
                        "expect": [
                            {
                                "name": "base",
                                "type": "select",
                                "label": "Base",
                                "required": true
                            },
                            {
                                "name": "typecast",
                                "type": "boolean",
                                "label": "Smart links",
                                "required": true
                            },
                            {
                                "name": "useColumnId",
                                "type": "boolean",
                                "label": "Use Column ID",
                                "required": true
                            },
                            {
                                "name": "table",
                                "type": "select",
                                "label": "Table",
                                "required": true
                            },
                            {
                                "name": "record",
                                "spec": [
                                    {
                                        "mode": "edit",
                                        "name": "fld1JqRebvgnXJL5D",
                                        "type": "select",
                                        "label": "Channel"
                                    },
                                    {
                                        "name": "fldmtTfcw0RbZTsja",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "fld5Yla69XWso4SCO",
                                        "type": "text",
                                        "label": "Message"
                                    },
                                    {
                                        "name": "fld3LSpNtuP64A9Uc",
                                        "type": "text",
                                        "label": "Detail"
                                    },
                                    {
                                        "name": "fldgB78a0WrkXbWpP",
                                        "type": "text",
                                        "label": "Scenario"
                                    },
                                    {
                                        "name": "fldO1Tv6rFnMB3QsR",
                                        "type": "text",
                                        "label": "Module"
                                    },
                                    {
                                        "name": "fldS9LQwxJYkJZXfx",
                                        "type": "text",
                                        "label": "Execution"
                                    },
                                    {
                                        "name": "fldGsZ6ZISLfu6dXa",
                                        "type": "boolean",
                                        "label": "Solved"
                                    },
                                    {
                                        "name": "flda6zjHkcx9g7sdG",
                                        "spec": {
                                            "name": "value",
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Facebook Post"
                                    },
                                    {
                                        "name": "fld4RpTrussaxExSA",
                                        "spec": {
                                            "name": "value",
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Instagram Post"
                                    },
                                    {
                                        "name": "fldAUagZg6mqldGTD",
                                        "spec": {
                                            "name": "value",
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Instagram Story"
                                    },
                                    {
                                        "name": "fldERTHE5DNTYNONM",
                                        "spec": {
                                            "name": "value",
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "LinkedIn Post"
                                    },
                                    {
                                        "name": "fldWyeleX8a7a0uO1",
                                        "spec": {
                                            "name": "value",
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "X Post"
                                    },
                                    {
                                        "name": "fldaI9y05mGK6wMX4",
                                        "spec": {
                                            "name": "value",
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "YouTube Video"
                                    }
                                ],
                                "type": "collection",
                                "label": "Record"
                            }
                        ],
                        "interface": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "createdTime",
                                "type": "date",
                                "label": "Created Time"
                            },
                            {
                                "name": "Name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "Channel",
                                "type": "text",
                                "label": "Channel"
                            },
                            {
                                "name": "Type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "Message",
                                "type": "text",
                                "label": "Message"
                            },
                            {
                                "name": "Detail",
                                "type": "text",
                                "label": "Detail",
                                "multiline": true
                            },
                            {
                                "name": "Scenario",
                                "type": "text",
                                "label": "Scenario"
                            },
                            {
                                "name": "Module",
                                "type": "text",
                                "label": "Module"
                            },
                            {
                                "name": "Execution",
                                "type": "text",
                                "label": "Execution"
                            },
                            {
                                "name": "Solved",
                                "type": "boolean",
                                "label": "Solved"
                            },
                            {
                                "name": "Facebook Post",
                                "spec": {
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Facebook Post"
                            },
                            {
                                "name": "Instagram Post",
                                "spec": {
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Instagram Post"
                            },
                            {
                                "name": "Instagram Story",
                                "spec": {
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Instagram Story"
                            },
                            {
                                "name": "LinkedIn Post",
                                "spec": {
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "LinkedIn Post"
                            },
                            {
                                "name": "X Post",
                                "spec": {
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "X Post"
                            },
                            {
                                "name": "YouTube Video",
                                "spec": {
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "YouTube Video"
                            }
                        ]
                    }
                }
            ]
        },
        {
            "id": 3,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "tlsType": "",
                "proxyKeychain": "",
                "authenticationType": "noAuth"
            },
            "mapper": {
                "url": "{{2.`Webhook URL`}}",
                "method": "post",
                "contentType": "json",
                "inputMethod": "jsonString",
                "shareCookies": false,
                "parseResponse": true,
                "allowRedirects": true,
                "stopOnHttpError": true,
                "jsonStringBodyContent": "{\n   \"maxItems\": {{2.`Max Items`}},\n   \"syncRecordId\": \"{{2.id}}\",\n   \"start\": true,\n   \"lastStarted\": \"{{formatDate(2.`Last Run Started`; \"YYYY-MM-DDTHH:mm:ssZ\")}}\",\n   \"lastEnded\": \"{{formatDate(2.`Last Run Ended`; \"YYYY-MM-DDTHH:mm:ssZ\")}}\"\n}",
                "requestCompressedContent": true
            },
            "metadata": {
                "designer": {
                    "x": 317,
                    "y": 150,
                    "name": "Run Scenario"
                },
                "restore": {
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose"
                        },
                        "contentType": {
                            "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                        },
                        "inputMethod": {
                            "label": "JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "paginationType": {
                            "label": "Empty"
                        },
                        "queryParameters": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "tlsType": {
                            "label": "Empty"
                        },
                        "proxyKeychain": {
                            "label": "Choose a key"
                        },
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Header"
                        },
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "queryParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Parameter"
                        },
                        "type": "array",
                        "label": "Query parameters"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "inputMethod",
                        "type": "select",
                        "label": "Body input method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "dataStructure",
                                "jsonString"
                            ]
                        }
                    },
                    {
                        "name": "jsonStringBodyContent",
                        "type": "text",
                        "label": "Body content",
                        "required": true
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "type": "any",
                        "label": "Data"
                    },
                    {
                        "name": "statusCode",
                        "type": "number",
                        "label": "Status Code"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "content-length",
                                "type": "text",
                                "label": "Content-Length"
                            },
                            {
                                "name": "content-encoding",
                                "type": "text",
                                "label": "Content-Encoding"
                            },
                            {
                                "name": "content-type",
                                "type": "text",
                                "label": "Content-Type"
                            },
                            {
                                "name": "server",
                                "type": "text",
                                "label": "Server"
                            },
                            {
                                "name": "cache-control",
                                "type": "text",
                                "label": "Cache-Control"
                            },
                            {
                                "name": "set-cookie",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "Set-Cookie"
                            }
                        ],
                        "type": "collection",
                        "label": "Headers"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 6,
                    "module": "airtable:ActionCreateRecord",
                    "version": 3,
                    "parameters": {
                        "__IMTCONN__": 8833273
                    },
                    "mapper": {
                        "base": "appr8MnuDG2NjwMQf",
                        "table": "tblM62NW7VKjzaMlA",
                        "record": {
                            "fld3LSpNtuP64A9Uc": "{{3.error.detail}}",
                            "fld5Yla69XWso4SCO": "{{3.error.message}}",
                            "fldO1Tv6rFnMB3QsR": "HTTP - Run Scenario",
                            "fldS9LQwxJYkJZXfx": "{{var.scenario.executionUrl}}",
                            "fldgB78a0WrkXbWpP": "{{var.scenario.name}}",
                            "fldmtTfcw0RbZTsja": "{{3.error.type}}"
                        },
                        "typecast": false,
                        "useColumnId": false
                    },
                    "metadata": {
                        "designer": {
                            "x": 487,
                            "y": 411,
                            "name": "Create Error"
                        },
                        "restore": {
                            "expect": {
                                "base": {
                                    "label": "Mada Index"
                                },
                                "table": {
                                    "label": "Errors",
                                    "nested": [
                                        {
                                            "name": "record",
                                            "spec": [
                                                {
                                                    "mode": "edit",
                                                    "name": "fld1JqRebvgnXJL5D",
                                                    "type": "select",
                                                    "label": "Channel",
                                                    "dynamic": true,
                                                    "options": [
                                                        {
                                                            "label": "Facebook",
                                                            "value": "Facebook"
                                                        },
                                                        {
                                                            "label": "Instagram",
                                                            "value": "Instagram"
                                                        },
                                                        {
                                                            "label": "LinkedIn",
                                                            "value": "LinkedIn"
                                                        },
                                                        {
                                                            "label": "X",
                                                            "value": "X"
                                                        }
                                                    ],
                                                    "validate": false
                                                },
                                                {
                                                    "name": "fldmtTfcw0RbZTsja",
                                                    "type": "text",
                                                    "label": "Type"
                                                },
                                                {
                                                    "name": "fld5Yla69XWso4SCO",
                                                    "type": "text",
                                                    "label": "Message"
                                                },
                                                {
                                                    "name": "fld3LSpNtuP64A9Uc",
                                                    "type": "text",
                                                    "label": "Detail",
                                                    "multiline": true
                                                },
                                                {
                                                    "name": "fldgB78a0WrkXbWpP",
                                                    "type": "text",
                                                    "label": "Scenario"
                                                },
                                                {
                                                    "name": "fldO1Tv6rFnMB3QsR",
                                                    "type": "text",
                                                    "label": "Module"
                                                },
                                                {
                                                    "name": "fldS9LQwxJYkJZXfx",
                                                    "type": "text",
                                                    "label": "Execution"
                                                },
                                                {
                                                    "name": "fldGsZ6ZISLfu6dXa",
                                                    "type": "boolean",
                                                    "label": "Solved"
                                                },
                                                {
                                                    "name": "flda6zjHkcx9g7sdG",
                                                    "spec": {
                                                        "label": "Record ID"
                                                    },
                                                    "type": "array",
                                                    "label": "Facebook Post"
                                                },
                                                {
                                                    "name": "fld4RpTrussaxExSA",
                                                    "spec": {
                                                        "label": "Record ID"
                                                    },
                                                    "type": "array",
                                                    "label": "Instagram Post"
                                                },
                                                {
                                                    "name": "fldAUagZg6mqldGTD",
                                                    "spec": {
                                                        "label": "Record ID"
                                                    },
                                                    "type": "array",
                                                    "label": "Instagram Story"
                                                },
                                                {
                                                    "name": "fldERTHE5DNTYNONM",
                                                    "spec": {
                                                        "label": "Record ID"
                                                    },
                                                    "type": "array",
                                                    "label": "LinkedIn Post"
                                                },
                                                {
                                                    "name": "fldWyeleX8a7a0uO1",
                                                    "spec": {
                                                        "label": "Record ID"
                                                    },
                                                    "type": "array",
                                                    "label": "X Post"
                                                },
                                                {
                                                    "name": "fldaI9y05mGK6wMX4",
                                                    "spec": {
                                                        "label": "Record ID"
                                                    },
                                                    "type": "array",
                                                    "label": "YouTube Video"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Record"
                                        }
                                    ]
                                },
                                "record": {
                                    "nested": {
                                        "fld1JqRebvgnXJL5D": {
                                            "mode": "edit"
                                        },
                                        "fld4RpTrussaxExSA": {
                                            "mode": "chose"
                                        },
                                        "fldAUagZg6mqldGTD": {
                                            "mode": "chose"
                                        },
                                        "fldERTHE5DNTYNONM": {
                                            "mode": "chose"
                                        },
                                        "fldGsZ6ZISLfu6dXa": {
                                            "mode": "chose"
                                        },
                                        "fldWyeleX8a7a0uO1": {
                                            "mode": "chose"
                                        },
                                        "flda6zjHkcx9g7sdG": {
                                            "mode": "chose"
                                        },
                                        "fldaI9y05mGK6wMX4": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "typecast": {
                                    "mode": "chose"
                                },
                                "useColumnId": {
                                    "mode": "chose"
                                }
                            },
                            "parameters": {
                                "__IMTCONN__": {
                                    "data": {
                                        "scoped": "true",
                                        "connection": "airtable3"
                                    },
                                    "label": "Mada Airtable connection (User ID: usrFpaeOnieLzG9yP)"
                                }
                            }
                        },
                        "parameters": [
                            {
                                "name": "__IMTCONN__",
                                "type": "account:airtable3,airtable2",
                                "label": "Connection",
                                "required": true
                            }
                        ],
                        "expect": [
                            {
                                "name": "base",
                                "type": "select",
                                "label": "Base",
                                "required": true
                            },
                            {
                                "name": "typecast",
                                "type": "boolean",
                                "label": "Smart links",
                                "required": true
                            },
                            {
                                "name": "useColumnId",
                                "type": "boolean",
                                "label": "Use Column ID",
                                "required": true
                            },
                            {
                                "name": "table",
                                "type": "select",
                                "label": "Table",
                                "required": true
                            },
                            {
                                "name": "record",
                                "spec": [
                                    {
                                        "mode": "edit",
                                        "name": "fld1JqRebvgnXJL5D",
                                        "type": "select",
                                        "label": "Channel"
                                    },
                                    {
                                        "name": "fldmtTfcw0RbZTsja",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "fld5Yla69XWso4SCO",
                                        "type": "text",
                                        "label": "Message"
                                    },
                                    {
                                        "name": "fld3LSpNtuP64A9Uc",
                                        "type": "text",
                                        "label": "Detail"
                                    },
                                    {
                                        "name": "fldgB78a0WrkXbWpP",
                                        "type": "text",
                                        "label": "Scenario"
                                    },
                                    {
                                        "name": "fldO1Tv6rFnMB3QsR",
                                        "type": "text",
                                        "label": "Module"
                                    },
                                    {
                                        "name": "fldS9LQwxJYkJZXfx",
                                        "type": "text",
                                        "label": "Execution"
                                    },
                                    {
                                        "name": "fldGsZ6ZISLfu6dXa",
                                        "type": "boolean",
                                        "label": "Solved"
                                    },
                                    {
                                        "name": "flda6zjHkcx9g7sdG",
                                        "spec": {
                                            "name": "value",
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Facebook Post"
                                    },
                                    {
                                        "name": "fld4RpTrussaxExSA",
                                        "spec": {
                                            "name": "value",
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Instagram Post"
                                    },
                                    {
                                        "name": "fldAUagZg6mqldGTD",
                                        "spec": {
                                            "name": "value",
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Instagram Story"
                                    },
                                    {
                                        "name": "fldERTHE5DNTYNONM",
                                        "spec": {
                                            "name": "value",
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "LinkedIn Post"
                                    },
                                    {
                                        "name": "fldWyeleX8a7a0uO1",
                                        "spec": {
                                            "name": "value",
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "X Post"
                                    },
                                    {
                                        "name": "fldaI9y05mGK6wMX4",
                                        "spec": {
                                            "name": "value",
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "YouTube Video"
                                    }
                                ],
                                "type": "collection",
                                "label": "Record"
                            }
                        ],
                        "interface": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "createdTime",
                                "type": "date",
                                "label": "Created Time"
                            },
                            {
                                "name": "Name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "Channel",
                                "type": "text",
                                "label": "Channel"
                            },
                            {
                                "name": "Type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "Message",
                                "type": "text",
                                "label": "Message"
                            },
                            {
                                "name": "Detail",
                                "type": "text",
                                "label": "Detail",
                                "multiline": true
                            },
                            {
                                "name": "Scenario",
                                "type": "text",
                                "label": "Scenario"
                            },
                            {
                                "name": "Module",
                                "type": "text",
                                "label": "Module"
                            },
                            {
                                "name": "Execution",
                                "type": "text",
                                "label": "Execution"
                            },
                            {
                                "name": "Solved",
                                "type": "boolean",
                                "label": "Solved"
                            },
                            {
                                "name": "Facebook Post",
                                "spec": {
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Facebook Post"
                            },
                            {
                                "name": "Instagram Post",
                                "spec": {
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Instagram Post"
                            },
                            {
                                "name": "Instagram Story",
                                "spec": {
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Instagram Story"
                            },
                            {
                                "name": "LinkedIn Post",
                                "spec": {
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "LinkedIn Post"
                            },
                            {
                                "name": "X Post",
                                "spec": {
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "X Post"
                            },
                            {
                                "name": "YouTube Video",
                                "spec": {
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "YouTube Video"
                            }
                        ]
                    }
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}